#LangChain Core
langchain
langchain-core
langchain_community

#Grog
langchain-groq

#Environment Variable Management
python-dotenv

pypdf
pymupdf
pypdf
pymupdf
fastembed

#for frontend

reflex==0.8.28
gunicorn
reportlab
chromadb